.login {
    margin: 0;
    padding: 0;
    background: #3f5efb;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(13, 138, 98, 1) 100%);
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


.default-box {
    background-color: #ffffff; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    align-self: center;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px 8px;
    max-width: 90%;
    border-radius: 12px;
    box-shadow: 4px 4px;
}
.text-left{
    text-align: left;
}
.alerts {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.alert-item {
    display: flex;           
    align-items: center;     
    justify-content: space-between; 
    
    background-color: #ffffff;
    margin: 16px auto;
    padding: 20px;
    border-radius: 12px;
    width: 800px;     
    text-align: left;      
}


.devices {
    margin: 0;
    padding: 0;
    background: #3f5efb;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, #0d8a62 100%);
    min-height: 100vh; 
    font-family: Arial, sans-serif;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
}

.device{
    background-color: #ffffff; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    box-shadow: 4px 4px;
  }

.device-link{
    background-color: #3f5efb; 
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.device-link:hover{
    background-color: #008CBA;
    color: white;
}

.device-link1{
    font-size: 22px;
}

.device-link2{
    font-size: 16px;
}
.container {
    max-width: 1200px;  
    margin: 0 auto;      
    padding: 20px;       
}


.whitelist{
    font-size: 24px;
    width: 500px; 
}
.loginform {
    background-color: white; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ccc; 
    width: 300px; 
    text-align: center; 
}

.default-button {
    background-color: #3f5efb; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
}

.login-button:hover {
    background-color: #324cd2; 
}

nav {
    width: 100%;
    background-color: #319bdd; 
    overflow: hidden; 
    display: flex; 
    justify-content: left; 
        }
nav a {
    color: white; 
    text-decoration: none; 
    padding: 14px 20px; 
    font-size: 16px; 
    transition: background-color 0.3s; 
        }
nav a:hover {
    background-color: #2472a3; 
    border-radius: 4px; 
        }
